@model IEnumerable<BloodFinder.Models.BloodList>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br /><br />


<div class="row">
    <div class="col-lg-1">
        <img src="~/Photos/logo.png" alt="logo" height="90" width="90" />

    </div>
    <div class="col-lg-11">
        <div class="table-responsive-sm">
            <table class="table table-striped">

                <thead class="thead-dark">


                    <tr>
                        <th>Name</th>

                        <th>Address</th>

                        <th>E-mail</th>

                        <th>Phone Number</th>

                        <th>Blood Group</th>
                    </tr>
                </thead>

                <tbody>


                    <tr>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Name) </td>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Address)</td>
                        <td> @Html.DisplayFor(modelItem => Model.LastOrDefault().Email)</td>
                        <td> @Html.DisplayFor(modelItem => Model.LastOrDefault().PhoneNumber)</td>
                        <td> @Html.DisplayFor(modelItem => Model.LastOrDefault().Bloodgroup)</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary"> <i class="fas fa-edit"></i>&nbsp;<a href="~/BloodList/Edit" class="text-white"><b>Edit</b></a></button>
            <button type="button" class="btn btn-danger" onclick="return confirm('Are you sure you wish to delete this data?');"> <i class="fas fa-trash-alt"></i>&nbsp;<a href="~/BloodList/Delete" class="text-white"><b>Delete</b></a></button>
            @*@Html.ActionLink("Edit", "Edit", "BloodList")

            @Html.ActionLink("Delete", "Delete", "BloodList", new { onclick = "return confirm('Are you sure you wish to delete this data?');" })*@

        </div>
    </div>
</div>
