<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <title>@ViewBag.Title - Blood Finder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        .navbar-collapse {
            font-weight: bold;
        }

        .navbar-header {
            height: 30px;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #4CAF50;
                    color: black;
                }
    </style>
</head>
<body>

    <div class="topnav">
        <div class="navbar navbar-expand-lg  fixed-top bg-success ">
            <div class="container-lg">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-11">
                    <nav class="collapse navbar-collapse">
                        <ul class="navbar-nav ">
                            <a class="navbar-brand" href="~/Home/Index"><i class="fa fa-fw fa-home"></i></b>Home</a>
                            <a class="navbar-brand" href="~/Home/About"><i class="fa fa-fw fa-user"></i> About Us</a>
                            <a class="navbar-brand" href="~/Home/Contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-tint"></i>&nbsp;Our Services<b class="caret"></b></a>
                                <ul class="dropdown-menu bg-success">
                                    <li> @Html.ActionLink("Donate Blood", "LastDonorList", "BloodList", null, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Request For Blood", "SelfBloodRequestedList", "BloodList", null, new { @class = "navbar-brand" })</li>
                                    <li>  @Html.ActionLink("Blood Donor List", "DonorList", "BloodList", null, new { @class = "navbar-brand" })</li>
                                    <li>@Html.ActionLink("Blood Requestor List", "RequestorList", "BloodList", null, new { @class = "navbar-brand" })</li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="far fa-plus-square"></i>&nbsp;More<b class="caret"></b></a>
                                <ul class="dropdown-menu bg-success">
                                    <li> <a href="https://www.google.com/maps/search/nearest+blood++bank" class="navbar-brand"><i class="fas fa-ambulance"></i>&nbsp;Find Nearest Blood Bank</a></li>
                                    <li> <a href="https://www.google.com/maps/search/nearest+hospital" class="navbar-brand"><i class="fas fa-clinic-medical"></i>&nbsp;Find Nearest Hospital</a></li>


                                </ul>
                            </li>

                        
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog"></i>&nbsp;Setting<b class="caret"></b></a>
                                <ul class="dropdown-menu bg-success">
                                    <li> <a class="navbar-brand" href="~/Login/Userprofile"><i class="fas fa-user-alt"></i>&nbsp;Profile</a></li>
                                    <li> <a class="navbar-brand" href="~/Login/Login"><i class="fas fa-sign-out-alt"></i>&nbsp;LogOut</a></li>


                               
                            </li>
                          






                        </ul>



                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div style="clear:both;"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <b><p>&copy; @DateTime.Now.Year - Blood Finder Application</p></b>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
